<div class="d-flex justify-content-center align-items-center base-wrapper">
    <div class="d-flex justify-content-center align-items-center header-wrapper">
        <h2><span>DASHBOARD</span></h2>
    </div>
    <div class="d-flex info-wrapper">
        <div class="d-flex justify-content-center left-column">
            <div class="d-flex justify-content-center align-items-center text-center shadow bubble pie-chart-box">
                <div class="d-flex justify-content-center pie-chart-output">
                    <!-- <p>Pie-Chart</p> -->
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center text-center shadow bubble line-graph-box">
                <div class="d-flex justify-content-center line-graph-output">
                    <!-- <p>Line-Graph</p> -->
                    <app-line-graph></app-line-graph>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end right-column">
            <div class="d-flex justify-content-center align-items-center text-center shadow bubble data-box">
                <div class="d-flex justify-content-center data-output">
                    <app-data-output></app-data-output>
                </div>
            </div>
        </div>
    </div>
</div>
