.progress-wrapper{
    height: 15vh;
}

.form-wrapper{
    height: 60vh;
    padding: 0;
}

.bubble{
    width: 50vw;
    height: 50vh;
    background-color: transparent;
    border: 6px solid var(--background-dark);
}

#header{
    color:  var(--text-light);
    background-color: var(--background-dark);
    width: 100%;
    height: fit-content;
    padding: 0.5vh 0 0.5vh;
    font-size: 24px;
}

.text-center{
    margin-bottom: 0;
}

.button{
    margin: 2vh 0 2vh 0;
    width: 6vw;
    height: 5vh;
    font-size: 28px;
    font-weight: 300;
    padding: 0;
    border-radius: 15px !important;
}

.progress-bar{
    width: 15vw;
    line-height: 0.1em !important;
    border-bottom: 1px solid  var(--text-light);
    margin: 0 1vw 0 1vw;
}

.display-box{
    width: 30vw;
    height: 110vh;
}

#back{
    border: solid var(--text-light);
    background-color: var(--text-light);
    color: var(--background-light);
    margin-right: 1vw;
}

#next{
    border: solid var(--text-dark);
    background-color:  var(--text-dark);
    color: var(--background-light);
}
