<div class="d-flex justify-content-center align-items-center base-wrapper">
  <div
    class="d-flex flex-column align-items-center bubble shadow"
    id="statement"
  >
    <div class="text-center">
      <p id="header">Special Needs Analysis</p>
      <p id="caption">Plan for your future.</p>
    </div>

    <div
      class="d-flex flex-column justify-conent-center align-items-center text-center"
      id="img-wrapper"
    >
      <img
        src="../../../../assets/homepage-graphic.png"
        alt="Homepage Graphic"
      />
    </div>
    <p id="text-wrapper">
      We aim to put users with special needs on a path towards achieving
      financial wellness.
      <!-- Our mission is to assist special needs dependents and families through
            planning their future. We aim to inform users and put them on a path
            towards achieving financial wellness through developing free educational
            and planning applications. -->
    </p>
    <button
      class="button shadow-sm"
      id="login"
      routerLink="/login"
      routerLinkActive="active"
    >
      Begin
    </button>
  </div>
</div>

<app-footer></app-footer>
